@model Maddalena.Models.Stat.WebStat
@using Maddalena.Extensions;

@{
    ViewData["Title"] = "My";
}

<h2>Latest visitors</h2>
<p>
    Total unique visitors in the last 24 hours: @Model.UniqueVisitors.
    <br />
    Those are the request recieved by my server in this week, you can discover more on how does it works in the related article 
    and relative source code
    <br />

    Your identity @Model.MyId <a href="/stat/my"> &gt; See your history </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th> Identity </th>
            <th> Ip Address </th>
            <th> Path </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requests)
        {
            <tr>
                <td>
                    @item.Timestamp.RelativeDate()
                </td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.User))
                    {
                        @Html.DisplayFor(modelItem => item.User)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Identity)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemoteIpAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @if(!string.IsNullOrWhiteSpace(item.Referer))
                    {
                        <a href="@item.Referer">&gt; refer</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
