@model Maddalena.Models.Stat.WebStat
@using Maddalena.Extensions;

@{
    ViewData["Title"] = "Identity";
}

<h2>Server side analytics</h2>
<p>
    This is a simple demo of my <a href="https://www.nuget.org/packages/ServerSideAnalytics/">nuget package</a>.
    <br />
    Total unique visitors: @Model.UniqueVisitors.
    <br />
    Total request served: @Model.TotalCount.
    <br />
    The system assign automatically an identity to every not registered user based on AspNet Core cookie system and connection id.
</p>
<p>
    <a href="/stat/my" class="btn btn-outline-primary">See the history of your identity</a>
</p>

<!--
<div class="row">
    <canvas id="canvas"></canvas>
</div>
<script>
    var datapoints = [0, 20, 20, 60, 60, 120, 140, 180, 120, 125, 105, 110, 170];
    var config = {
        type: 'line',
        data: {
            labels: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            datasets: [{
                //label: 'Cubic interpolation (monotone)',
                data: datapoints,
                fill: true,
                //cubicInterpolationMode: 'monotone'
            }]
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index'
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myLine = new Chart(ctx, config);
    };
</script>
---->

<h3>Last 100 request served</h3>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th> Identity </th>
            <th> Ip Address </th>
            <th> Path </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requests)
        {
            <tr>
                <td>
                    @item.Timestamp.RelativeDate()
                </td>
                <td>
                    <a href="/identity/@item.Identity">@item.Identity</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemoteIpAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.Referer))
                    {
                        <a href="@item.Referer">&gt; refer</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
