@model Maddalena.Models.Stat.WebStat
@using Maddalena.Extensions;

@{
    ViewData["Title"] = "My";
}

<h2>My requests</h2>
<p>
    Those are the requests associate with your identity @Model.MyId
    <br />
    <a href="/stat">
        &lt; Go back to the main list of all users
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th> Ip Address </th>
            <th> Path </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requests)
        {
            <tr>
                <td>
                    @item.Timestamp.RelativeDate()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemoteIpAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @if(!string.IsNullOrWhiteSpace(item.Referer))
                    {
                        <a href="@item.Referer">&gt; refer</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
