@using Maddalena.Models.Blog
@using Maddalena.Extensions

@{
    ViewData["Title"] = "Matteo Fabbri - An italian nerd in Prague";
 }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <meta name="description" content="An italian nerd in Prague" />
    <meta property="og:locale" content="it_IT" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Title"]" />
    <meta property="og:url" content="https://matteofabbri.org/" />
    <meta property="og:site_name" content="@ViewData["Title"]" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="@ViewData["Title"]" />
    <meta name="twitter:title" content="@ViewData["Title"]" />
    <meta name="twitter:site" content="https://matteofabbri.org/" />

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/jodit/jodit.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome-all.min.css" />

    <link rel="canonical" href="http://matteofabbri.org/" />

    <meta name="hubtraffic-domain-validation" content="3303c188e3db38e5" />

    <link rel="alternate" type="application/rss+xml" href="http://matteofabbri.org/rss.xml" />

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.ajax.form.js"></script>
    <script src="~/lib/jodit/jodit.min.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome-all.min.js"></script>
    <script src="~/js/chart.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="~/images/icon.jpg" class="img-fluid img-circle" style="max-height:54px;border-radius:50% !important;" alt="Cinque Terre">
                Matteo Fabbri
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mynuget">My Nuget</a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/manage/index">My account</a>
                        </li>
                    }
                </ul>
                <form action="/search" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="row">
            <div class="col-12">
                <img class="img-fluid" src="~/images/cover.jpg" style="width:100%" />
            </div>
        </div>

        <div class="container body-content">
            <div class="row" style="margin-top: 32px">
                <div class="col-md-9" style="min-height: 60vh">

                    @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                    {
                        <div class="alert alert-danger alert-dismissible fade show text-center">
                            <button type="button" class="close" data-dismiss="alert">×</button>

                            @foreach (var error in ViewData.ModelState[""].Errors)
                            {
                                @error.ErrorMessage
                                <br />
                            }
                        </div>
                    }
                    @RenderBody()
                </div>
                <div class="col-md-3" id="side">
                    <div class="row">
                        <div class="col-12" style="padding-right: 0px">
                            <section>
                                <ul class="list-group-item">
                                    <h5>Caffe' italiano</h5>
                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="/shyopedia" target="_blank">Shyopedia</a>
                                    </li>
                                </ul>
                            </section>

                            @if (BlogArticle.Categories.Any())
                            {
                                <section>
                                    <ul class="list-group">
                                        @foreach (var cat in BlogArticle.Categories)
                                        {
                                            <li class="list-group-item">
                                                <a href="/blog/category/@cat">@cat</a>
                                            </li>
                                        }
                                    </ul>
                                </section>
                            }

                            @if (User.Identity.IsAuthenticated)
                            {
                                <section>
                                    <ul class="list-group">
                                        @if (User.IsInRole("blog"))
                                        {
                                            <li class="list-group-item">
                                                <a href="/blog">Blog</a>
                                            </li>
                                        }
                                        @if (User.IsInRole("manage"))
                                        {
                                            <li class="list-group-item">
                                                <a href="/user">Users</a>
                                            </li>
                                        }
                                    </ul>
                                </section>
                            }


                            @RenderSection("Side", required: false)

                            <section>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="https://github.com/matteofabbri" target="_blank"><i class="fab fa-github-square"></i> GitHub</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://twitter.com/theqult" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://www.linkedin.com/in/theqult/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://www.instagram.com/theqult" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="https://stackoverflow.com/story/matteofabbri" target="_blank"><i class="fab fa-stack-overflow"></i> Stack Overflow</a>
                                    </li>
                                </ul>
                            </section>

                            @if (!User.Identity.IsAuthenticated)
                            {
                                <section>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <a href="/account/login"><i class="fa fa-user"></i> Log in</a>
                                        </li>
                                    </ul>
                                </section>
                            }

                            <section>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="/privacy"><i class="fa fa-user-secret"></i> Privacy policy</a>
                                    </li>
                                </ul>
                            </section>

                            <section>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="/hardware"> Hardware information</a>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)

    @if (!this.Context.IsEEuropean())
    {
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-1242825224942421",
                enable_page_level_ads: true
            });
        </script>
    }
</body>
</html>
