
@{
    ViewData["Title"] = "View";
}

@using YoutubeExplode.Models.MediaStreams
@using Maddalena.Core.Extensions
@model YoutubeExplode.Models.MediaStreams.MediaStreamInfoSet

<section>
  <section>
    <div class="row">
      <div class="col-12">
        <h2>Youtube downloader</h2>
        <form action="/youtube" method="post">
          <div class="form-group">
            <label for="ytUrl">Youtube Url</label>
            <input name="url" type="url" class="form-control" id="ytUrl" placeholder="https://www.youtube.com/watch?v=ERhbuYk9HEk">
          </div>
          <div class="form-group">
            <input type="submit" value="Retrieve" class="btn btn-lg btn-outline-primary"/>
          </div>
        </form>
      </div>
    </div>
  </section>

  @if (Model != null)
  {
    <section>
      <div class="row">
        <div class="col-4">
          <h3>Audio</h3>
          @foreach (var ad in Model.Audio)
          {
            <section>
              <table class="table table-striped table-bordered">
                <tr>
                  <td>Encoding</td>
                  <td>@ad.AudioEncoding</td>
                </tr>
                <tr>
                  <td>Bitrate</td>
                  <td>@ad.Bitrate.ToBaud()</td>
                </tr>
                <tr>
                  <td>Size</td>
                  <td>@ad.Size.ToByteSize()</td>
                </tr>
                <tr>
                  <td colspan="2" class="text-center">
                    <a href="@ad.Url" class="btn btn-success" target="_blank">Donwload</a>
                  </td>
                </tr>
              </table>
            </section>

          }
        </div>
        <div class="col-4">
          <h3>Both</h3>
          @foreach (var ad in Model.Muxed)
          {
              <section>
                <table class="table table-striped table-bordered">
                  <tr>
                    <td>Encoding</td>
                    <td>@ad.AudioEncoding - @ad.VideoEncoding</td>
                  </tr>
                  <tr>
                    <td>Quality</td>
                    <td>@ad.VideoQualityLabel</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>@ad.Size.ToByteSize()</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="text-center">
                      <a href="@ad.Url" class="btn btn-success" target="_blank">Donwload</a>
                    </td>
                  </tr>
                </table>
              </section>
          }
        </div>
        <div class="col-4">
          <h3>Video</h3>
          @foreach (var ad in Model.Video)
          {
              <section>
                <table class="table table-striped table-bordered">
                  <tr>
                    <td>Encoding</td>
                    <td>@ad.VideoEncoding</td>
                  </tr>
                  <tr>
                    <td>Quality</td>
                    <td>@ad.VideoQualityLabel</td>
                  </tr>
                  <tr>
                    <td>Size</td>
                    <td>@ad.Size.ToByteSize()</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="text-center">
                      <a href="@ad.Url" class="btn btn-success" target="_blank">Donwload</a>
                    </td>
                  </tr>
                </table>
              </section>
          }
        </div>
      </div>
    </section>
  }
</section>
