
@model HardwareInfo

<div class="row">
  <div class="col-4">
    @foreach (var cpu in Model.Cpu)
    {
      <div class="text-uppercase mb-1 mt-4">
        <small><b>Core temperature</b></small>
      </div>

      foreach (var item in cpu.CoreTemperatures)
      {
        if (item.Value == 0 || item.Value == null)
        {
          item.Value = 23;
        }

        <small class="text-muted">@item</small>

        <div class="progress progress-xs">
          <div class="progress-bar bg-info" role="progressbar" style="width: @item.Value%" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      }

      <div class="text-uppercase mb-1 mt-4">
        <small><b>Core clocks</b></small>
      </div>

      foreach (var item in cpu.CoreClocks)
      {
        if (item.Value == 0 || item.Value == null)
        {
          item.Value = 23;
        }

        <small class="text-muted">@item</small>

        <div class="progress progress-xs">
          <div class="progress-bar bg-info" role="progressbar" style="width: @item.Value%" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      }


      <div class="text-uppercase mb-1 mt-4">
        <small><b>Core loads</b></small>
      </div>

      foreach (var item in cpu.CoreLoads)
      {
        if (item.Value == 0 || item.Value == null)
        {
          item.Value = 23;
        }

        <small class="text-muted">@item</small>

        <div class="progress progress-xs">
          <div class="progress-bar bg-info" role="progressbar" style="width: @item.Value%" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      }
    }
  </div>
  <div class="col-4">
    @foreach (var hdd in Model.Hdd)
    {
      var item = hdd.UsageSensor;

      if (item.Value == 0 || item.Value == null)
      {
        item.Value = 23;
      }

      <div class="text-uppercase mb-1 mt-4">
        <small><b>Disk usage</b></small>
      </div>

      <small class="text-muted">@item</small>

      <div class="progress progress-xs">
        <div class="progress-bar bg-info" role="progressbar" style="width: @item.Value%" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      @foreach (var sensor in hdd.SmartSensors)
      {
        <small class="text-muted">@sensor.Key.Name</small>

        <div class="progress progress-xs">
          <div class="progress-bar bg-info" role="progressbar" style="width: @sensor.Value%" aria-valuenow="@sensor.Value" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      }
    }
  </div>
  <div class="col-4">

  </div>
</div>
