@model IEnumerable<Maddalena.Models.Hardware.CpuModel>

    @{
        ViewData["Title"] = "Cpu live data";
    }

    <h2>CPU live data</h2>

    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.LabelFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(modelItem => item.Vendor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(modelItem => item.CorePowers)
                </td>
                <td>
                    @foreach (var sensor in item.CorePowers)
                    {
                        <span>@sensor?.Name</span>
                        <b style="float:right">@sensor?.ToString()</b>
                        <br />
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(modelItem => item.CoreTemperatures)
                </td>
                <td>
                    @foreach (var sensor in item.CoreTemperatures)
                    {
                        <span>@sensor?.Name</span>
                        <b style="float:right">@sensor?.ToString()</b>
                        <br />
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(modelItem => item.CoreClocks)
                </td>
                <td>
                    @foreach (var sensor in item.CoreClocks)
                    {
                        <span>@sensor?.Name</span>
                        <b style="float:right">@sensor?.ToString()</b>
                        <br />
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(modelItem => item.BusClock)
                </td>
                <td>
                    <b style="float:right"> @item.BusClock.ToString()</b>
                   
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(modelItem => item.PackageTemperature)
                </td>
                <td>
                    <b style="float:right">@item.PackageTemperature.ToString()</b>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(modelItem => item.CoreLoads)
                </td>
                <td>
                    @foreach (var sensor in item.CoreLoads)
                    {
                        <span>@sensor?.Name</span>
                        <b style="float:right">@sensor?.ToString()</b>
                        <br />
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(modelItem => item.TotalLoad)
                </td>
                <td>
                    <b style="float:right">@item.TotalLoad.ToString()</b>
                </td>
            </tr>
        }
    </table>
