@using Maddalena.Core.Blog.Models
@model Maddalena.Core.Blog.Models.Post
@{
    bool isNew = string.IsNullOrEmpty(Model.Title);
    ViewData["Title"] = "Edit " + (Model.Title ?? "new post");
    var host = Context.Request.Host.ToString();
    List<string> allCats = ViewData["AllCats"] as List<string> ?? new List<string>();
    allCats.Sort();
}

@section Head
{
    <link rel="stylesheet" href="~/css/admin.scss" />
}

    <form method="post" id="edit" class="container" asp-controller="Blog" asp-action="UpdatePost" onsubmit = "return upload(this);" >
      <div asp-validation-summary="All"></div>
      <input type="hidden" asp-for="@Model.Id" />

      <div class="form-group" style="margin-top:25px">
        <h5>Title</h5>
        <input asp-for="@Model.Title"  class="form-control" required placeholder="Title of blog post" aria-describedby="desc_title" />
        <br />
      </div>

      <dvi class="form-group" style="margin-top:25px">
        <h5>Slug</h5>
        <input asp-for="@Model.Slug"  class="form-control" placeholder="The URL name" aria-describedby="desc_slug" />
        <br />
      </dvi>

      <div class="form-group" style="margin-top:25px">
        <h5>Tags</h5>
        <input type="text" class="form-control" name="selecttag" id="selecttag" aria-describedby="desc_categories" list="taglist" placeholder="@string.Join(", ", Model.Categories)" />
        <input type="text" class="form-control" name="categories" id="categories" value="@string.Join(", ", Model.Categories)" hidden />
        <datalist id="taglist">
          @foreach (var cat in allCats)
          {
            <option value="@cat" />
          }
        </datalist>
        <br />
      </div>
      
      <div class="form-group">
        <h5>Excerpt</h5>
        <textarea asp-for="@Model.Excerpt" class="form-control" rows="3" placeholder="Short description of blog post" aria-describedby="desc_excerpt">@Model.Excerpt</textarea>
      </div>

      <div class="form-group">
        <input asp-for="@Model.IsPublished" />
        <label asp-for="@Model.IsPublished">Is published</label>
      </div>

      <div class="form-group" style="margin-top:25px">
        <textarea asp-for="@Model.Content" rows="20" aria-label="Content">@Model.Content</textarea>

        <input type="submit" value="Save" title="Save the post" />
      </div>




      @if (!isNew)
      {
        <input type="submit" value="Delete..." class="delete" title="Delete the post..." asp-action="DeletePost" asp-route-id="@Model.Id" />
      }
    </form>

@section Scripts {
    <script src="//@host/lib/tinymce/tinymce.min.js"></script> @*with enabled CDN tinymce is not able to find some files*@
    <script async>
      function upload(form) {
        tinymce.activeEditor.uploadImages(function (success) {
          form.submit();
        });
        return false;
      }


        tinymce.init({
          selector: '#Content',
          autoresize_min_height: 200,
          plugins: 'autosave preview searchreplace visualchars image link media fullscreen code codesample table hr pagebreak autoresize nonbreaking anchor insertdatetime advlist lists textcolor wordcount imagetools colorpicker',
          menubar: "edit view format insert table",
          toolbar1: 'formatselect | bold italic blockquote forecolor backcolor | imageupload link | alignleft aligncenter alignright  | numlist bullist outdent indent code | fullscreen',
          selection_toolbar: 'bold italic | quicklink h2 h3 blockquote',
          autoresize_bottom_margin: 0,
          paste_data_images: true,
          image_advtab: true,
          file_picker_types: 'image',
          relative_urls: false,
          convert_urls: false,
          branding: false,
          images_upload_url: "/blog/upload",
          images_upload_base_path: '/download/'
        });

    </script>
}