@model IEnumerable<Maddalena.Core.Scripts.Script>

@{
    ViewData["Title"] = "Index";
}


<section>
    <div class="row">
        <div class="col-6">
            <h2>Scripts</h2>
            <p>
                <a asp-action="Edit">Create New</a>
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Language
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language)
                        </td>
                        <td>
                            @Html.ActionLink("Run", "Run", new { id = item.Id }) |
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
</section>

